name: D

on: push

permissions:
  contents: read

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: dlang-community/setup-dlang@4c99aa991ce7d19dd3064de0a4f2f6b2f152e2d7

    - name: 'Setup'
      run: |
        sudo apt-get install xorg-dev

    - name: 'Build BeanDS'
      run: |
        # Build the project, with its main file included, without unittests
        dub build --compiler=$DC

  build-windows:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    - uses: dlang-community/setup-dlang@4c99aa991ce7d19dd3064de0a4f2f6b2f152e2d7

    - uses: actions/labeler@v2
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}

    - name: 'Setup'
      run: |
        curl -L https://github.com/ldc-developers/ldc/releases/download/v1.29.0/ldc2-1.29.0-windows-x64.7z --output ldc2-1.29.0-windows-x64.7z
        7z x ldc2-1.29.0-windows-x64.7z
        curl -L https://github.com/redthing1/dray/releases/download/v4.0.0-r4/draylibs_dev_win64_msvc16.7z --output draylibs_dev_win64_msvc16.7z
        7z x draylibs_dev_win64_msvc16.7z
        curl -L https://github.com/redthing1/dray/releases/download/v4.0.0-r3/winlibs_extra.7z --output winlibs_extra.7z
        7z x winlibs_extra.7z
        curl -L https://github.com/glfw/glfw/releases/download/3.3.7/glfw-3.3.7.bin.WIN64.zip --output glfw-3.3.7.bin.WIN64.zip
        unzip glfw-3.3.7.bin.WIN64.zip

        move glfw-3.3.7.bin.WIN64/lib-vc2022/glfw3_mt.lib ./glfw3_mt.lib

        mkdir ext
        cd ext

        git clone https://github.com/redthing1/dray/

        cd dray
        move ../../draylibs_dev_win64_msvc16/raylib.lib ./raylib.lib
        move ../../WinMM.lib ./WinMM.lib

        set WINLIB_BASE="../../ldc2-1.28.1-windows-x64/lib/"
        set WINLIB_MINGW="../../ldc2-1.28.1-windows-x64/lib/mingw"
        echo $WINLIB_BASE
        dub build

        cd ../..

        move ext/dray/WinMM.lib ./WinMM.lib

    - name: 'Build BeanDS'
      run: |
        # Build the project, with its main file included, without unittests

        dub add-override dray "4.0.0-r5" ./ext/dray
        move ext/dray/raylib.lib ./raylib.lib
        dub build

